.container {
  margin: 20px auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 800px;
  text-align: center;
}

.song {
  border: 2px dashed brown;
  display: block;
  width: 80%;
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
}

.song:hover {
  background-color: #ffffda;
}

.error_message {
  color: red;
}

.song_list {
  border: 2px double #e48fef;
  border-radius: 10px;
  padding: 20px 20px;
}