.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 800px;
  text-align: center;
}

.song {
  border: 2px dashed brown;
  display: block;
  width: 80%;
  padding: 10px;
  margin: 10px auto;
  border-radius: 50%;
}

.song:hover {
  background-color: #ffffda;
}

.error_message {
  color: red;
}

label {
  text-align: left;
}