.container {
  margin: 20px auto;
  /*margin-bottom: 30px;*/
  padding-left: 30px;
  padding-right: 30px;
  width: 800px;
  text-align: center;
}

.song {
  border: 2px dashed brown;
  display: block;
  width: 600px;
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
}

.song:hover {
  background-color: #ffffda;
}

.error_message {
  color: red;
}

.song_list {
  border: 2px double #e48fef;
  border-radius: 10px;
  padding: 20px 20px;
}

.inline {
  display: inline-block;
}

.stars {
  margin-right: 30px 
}

.welcome {
  float: right;
}

.menubar {
  widhth: 100%;
  padding: 1em 0;
  background-color: rgba(255, 1, 1, 0.09);
  /*border: 1px solid black;*/
  border-radius: 10px;
}

.nav {
  float: left;
}

.logo {
  color: #ea0000;
}